.container {
  background-color: var(--themeColor);
  padding: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
.heading {
  color: white;
  font-weight: 500;
}

.counterGroup {
  color: white;
}

.counter {
  font-size: 24px;
  color: white;
  font-weight: 700;
}
