.landing{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--themeColor);
}

.landingImageConatiner{
  height: 100%;
  width: 100%;
  position: absolute;
  background-blend-mode: difference;
}

.landingImage{
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.headingContainer{
  text-align: center;
  position: relative;
  top: 0;
  width: 60%;
}

.heading{
  font-size: 64px;
  padding: 10px;
  color: white;
  /* text-shadow: 1px 5px 10px black; */
  line-height: 64px;
  font-weight: 500;
}
.subheader{
  font-size: 18px;
  color: white;
  /* text-shadow: 1px 5px 10px black; */
}


