.nav {
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  height: 82px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 100%;
  z-index: 100;
}

.contactNav {
  background-color: #f5faff;
  box-shadow: 0 1px 0 0 #f0f7ff;
  height: 24px;
  text-align: right;
  padding: 2px 0;
}
.navMenuContainer {
  height: calc(100% - 24px);
}

.navMenuRow {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}
.navlogo {
  color: var(--themeColor);
}

.navMenu {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  justify-content: flex-end;
  padding-left: 16px;
  list-style: none;
  margin-inline: 10px;
}

.navItem {
  align-items: center;
  display: flex;
  height: 100%;
  padding-inline: 12px;
  position: relative;
  border-left: whitesmoke solid 1px;
}
.active::after {
  content: "";
  height: 4px;
  background-color: var(--gold);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.navItem:hover {
  background-color: white;
}

.navLink {
  text-transform: capitalize;
  align-items: center;
  display: flex;
  font-weight: 300;
}
